body {
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

button:hover {
  cursor: pointer;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.item1 {
  order: 1;
  flex-basis: 50%;
}

.item2 {
  order: 2;
  flex-basis: 50%;
}

.main_container {
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1340px) {
  .main_container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .item1 {
    order: 2;
    flex-basis: 100%;
  }
  .item2 {
    order: 1;
    flex-basis: 100%;
  }
}
