body {
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: #135fa2;
}

.number {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  border-radius: 24px;
  background-color: #135fa2;
  color: white;
  font-size: 1.25rem;
  margin-right: 16px;
  padding-top: 2px;
  padding-left: 2px;
}
button.primary {
  color: white;
  text-decoration: none;
  border: none;
  padding: 12px;
  background-color: #135fa2;
  background-image: linear-gradient(90deg, #135fa2, #6195c4);
  border-radius: 20px;
  min-width: 240px;
  margin-top: 12px 0px 0px 24px;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.secondary_container {
  display: flex;
  margin: auto;
  max-width: 900px;
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ingredient_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sub_item1 {
  flex-basis: 36%;
}

.sub_item2 {
  flex-basis: 64%;
}

.ingredient_item_data {
  order: 1;
  flex-basis: 64%;
}

.ingredient_item_img {
  order: 2;
  flex-basis: 36%;
}

.item1 {
  order: 1;
  flex-basis: 68%;
}

.item2 {
  order: 2;
  flex-basis: 32%;
}

.itemy {
  flex-basis: 50%;
}

.main_container {
  max-width: 1300px;
  margin: auto;
}

.hoverable:hover {
  cursor: pointer;
}

@media screen and (max-width: 1340px) {
  .main_container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .item1 {
    order: 2;
    flex-basis: 100%;
  }
  .item2 {
    order: 1;
    flex-basis: 100%;
  }

  .ingredient_item_data {
    order: 2;
    flex-basis: 100%;
  }

  .ingredient_item_img {
    order: 1;
    flex-basis: 100%;
  }

  .sub_item1 {
    flex-basis: 100%;
  }

  .sub_item2 {
    flex-basis: 100%;
  }

  .itemy {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 504px) {
  .main_container {
    margin-top: 76px;
  }
}
